fastapi>=0.111.0
uvicorn>=0.30.1
pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.0
xgboost>=2.0.3
pydantic>=2.7.4
pydantic-settings>=2.3.3
requests>=2.32.3
joblib>=1.4.2
MetaTrader5>=5.0.45
pandas-ta-classic
shap
